
// fonts

$font-style-primary: 'Lato', sans-serif;
$weight-primary: 300;
$weight-secondary: 700;

// Font Colors

$font-primary: #777;
$font-secondary: #fff;

//Color Themes

$color-primary: #58e1c1;
$color-secondary: #51ddfc;

//button colors

$button-colors: (
'default': $color-secondary,
'success': #63cc82,
'error': #e4757a,
'warning': #fd7856,
'info': #927bc1, 
);

// Media Query breakpoint

$breakpoint: 768px;


//theme background color map

$theme-colors: (
    'col-1': #927bc1,
    'col-2': #fd7856,
    'col-3': #deb2ee,
    'col-4': #7ee6fd,
    'col-5': #88d9a0,
    'col-6': #4da2bb,
    'col-7': #ec9fa3,
    'col-8': #fd9f85,
    'col-9': #e4757a,
    'col-10': #63cc82,
    'col-11': $color-secondary,
    'col-12': #80e8d1,
);






