/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $font-secondary;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @include mq($breakpoint) {
        padding: 10px 30px;
      
      +.btn {
        margin-left: 10px;
      }
    }
  }

  @each $btn-type, $btn-color in $button-colors {
    .#{$btn-type} {
      background-color: $btn-color;
      &:hover {
        background-color: lighten($btn-color, 15%);
        transition: background-color .5s ease-in;
      }
    }
  }


