/* ============================================= */
/*              Images                           */
/* ============================================= */

%img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img{ 
    &-avatar, &-frame, &-logo {
        @extend %img;
    }
    &-avatar, &-frame {
        margin-top: 10px;
        max-width: 100%; 
    }
    &-frame {
        padding: 13px;
        border: 1px solid #ccc;
    }
}

@include mq($breakpoint) {
    .logo {
        margin-left: initial;
        margin-right: initial;
      }
}
